[data-part="root"] {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	border: 2px solid #ccc;
	padding: 20px;
	border-radius: 8px;
	background-color: #f9f9f9;
	max-width: 920px;
	margin: 0 auto;
}
